<!DOCTYPE html>
<html>

{% include head.html %}

<body class="landing">

  {% include header.html %}
  <!-- Banner -->
  <section id="banner__price">
    <a href="/index.html"><img src="/images/logo.png" alt="Сантехник в Рязани"></a>
    <h2>Сантехник в Рязани</h2>
    <p>Ждём вашего звонка</p>
    <ul class="actions">
      <li>
        <h3>
  			  <a href="tel:+74912991222" class="button big special">8 (4912) 99-12-22</a>
  			</h3></li>
    </ul>
  </section>
  <section class="wrapper style1">
    <div class="inner">
      {{ content }}
    </div>
  </section>

  {% include footer.html %}

</body>

</html>
